.brand{ 
    flex-grow: 1; 
    &__sig{
      font-family: 'Beth Ellen', sans-serif;
      font-weight: normal;
      border-bottom: solid 3px white;
      font-size: 30px;
      margin-bottom: 3px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }