.embed{
    width: 100%;
    display: block;
    border: 0px;
    background-color: #333; 
    &--mixcloud-mini{
        height: 60px;                   
    }
    &--youtube{
        position: relative;
        overflow: hidden;
        border-radius: $radius;
        aspect-ratio: 16/9;        
    }
}