.footer{

    z-index: 2;
    
    &__social{
      a{
        display: inline-block;
        text-decoration: none;
        &:not(:last-child){          
          &:after{
            margin-right: 6px;
            content: "/";
            margin-left: 6px;
    
          }          
        }      
      }
    }
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    padding: $gutter*.75 $gutter;

    @media (min-width:$break) { 
      padding: $gutter;
      position: static;
    } 

  }