.header{
    color: #fff;
    background-color: #333;
    background-image: url(/assets/img/clarky.jpg); 
    background-repeat: no-repeat;
    background-position: center top;    
    background-size: cover;
}