.menu{
    padding: $gutter*.75 $gutter;  
    //border-bottom: solid 2px rgba(0,0,0,.15);
    margin-bottom: -4px;
    a{
      display: inline-block;
      margin-right: 10px;
      @media (min-width:$break)  { 
        margin-right: $gutter;
      } 
    }
    a.router-link-active{      
      text-decoration: underline;      
    }
    
    @media (min-width:$break)  { 
      padding: $gutter;
    } 
  }