.player{

    overflow: hidden;    
    border-bottom-width: $gutter;
    border-radius: $radius;

    &__banner{
        padding: $gutter;
        background-size: cover;
        background-position: center bottom;
        color: #fff;
        height: 230px;
        position: relative;
        a{
            color: #fff;
        }
        &__content{
            position: absolute;
            bottom: $gutter;
            left: $gutter;
            right: $gutter;
        }
    }
    
}