.spotlight{
    height: 350px;
    background-size: cover;
    background-position: center bottom;
    border: 0;
    position: relative;
    &--dark{
        .spotlight__title{
            position: absolute;
            bottom: $gutter;
            left: $gutter;
            right: $gutter;
        }
        
        color: #fff!important;
        .well__link{
            color: #fff!important;
        }
    }
    &__desc{
        @media (min-width:$break)  { 
            width: 60%;  
        }                       
    }  
    &__h2{
        font-size: 1.8rem;
        line-height: 1.2;
        @media (min-width:$break)  { 
            font-size: 4rem; 
        }    
    }      
}