.spotlight{
    
    position: relative;
    overflow: hidden;
    border-radius: $radius;

    &__date{
        font-style: italic;
    }

    &__grid{
        padding: $gutter;
        background-color: #000;
        background-image: url(/assets/img/crows.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        padding-bottom: $gutter*6;
        &__cover{
            display: block;
            background-size: cover;
            aspect-ratio: 16/9;
            position: relative;
            overflow: hidden;
            border-radius: $radius;
        }
    }

    &__brand{
        position: absolute;
        top: $gutter;
        right: $gutter;
        overflow: hidden;
        border-radius: $radius;
        background-color: #000;
        img{
            display: block;
            width: 80px;
            height: auto;
        }        
    }

    &__banner{
        height: 350px;
        background-size: cover;
        background-position: center bottom;
        border: 0;
        position: relative;
    } 
    &__link{
        display: flex;
        gap: 8px;
        &__i{
            padding-top: 4px;
        }
        &__label{
            display: block;
            padding-right: $gutter;
            max-width: 100%;
            position: relative;
            word-break: break-word;
        }
    } 
    &__title{
        color: #fff;
        position: absolute;
        bottom: $gutter;
        left: $gutter;
        right: $gutter;
        a{
            color: #fff;
        }
        
    }  
    &__desc{
        @media (min-width:$break)  { 
            width: 60%;  
        }                       
    }  
    &__h2{
        font-size: 1.8rem;
        line-height: 1.2;        
        @media (min-width:$break)  { 
            font-size: 4rem; 
            line-height: 1;
            margin-left: -3px;
            padding-bottom: 4px;
        }    
    }      
}